<form action="/login" method="post"> 
    <input type="text" name="name">
    <input type="password" name="password">
    <div class="col-auto">
        <button type="submit" value="login">Submit</button>
    </div>
</form>
